/WaterFlowDemo/bin/x86/Debug/Content
/WaterFlowDemo/obj/x86/Debug
/WaterFlowDemo/Content/obj/x86/Debug
/WaterFlowDemo/WaterFlowDemo.csproj.user
/.vs/WaterFlowDemo/v15/.suo
/.vs/WaterFlowDemo/v15/sqlite3/storage.ide
/WaterFlowDemo/bin/x86/Debug
